.pricing-body {
    background:#f7f7f7;
    text-align:center;
    color:#fff;
    margin-bottom:5em;
}
.logo em {
    -webkit-transform:scale(10);
    -moz-transform:scale (10);
    -ms-transform:scale (10);
    transform:scale(10);
    color:#333;
    opacity:.1
}
.pen-title {
    font:48px/1 "Open Sans Condensed", Arial Narrow, sans-serif;
    color:#777;
    text-transform:uppercase;
    margin:0 0 .5em
}
.divider {
    margin:2em 0;
    border-bottom:1px solid #aaa
}
.wrapper {
    overflow:hidden;
    width:100%;
    margin:1em auto
}
.pricing-table {
    font:1em/1 "Open Sans", "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    float:left;
    width:31%;
    margin:.8em .6em;
    background:#ecf0f1
}
.pricing-table-header {
    padding:1em;
    background:#404040
}
.pricing-table-header .description {
    font-size:2em;
    text-transform:uppercase;
    font-weight:700
}
.pricing-table-header .price {
    margin-top:1em;
    font-size:1.3em;
    font-weight:300
}
.clear {
    height:.5em
}
.pricing-table-text {
    margin:1em 2em 0;
    padding:0 1em;
    border-bottom:1px solid #aaa;
    text-align:center;
    font-size:.9em;
    line-height:1.3;
    color:#888
}
/*.pricing-table-text .fa {
    border:2px solid #aaa;
    padding:.8em;
    width:1em;
    height:1em;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:70%
}*/
.pricing-table-features {
    margin:1em 2em;
    border-bottom:1px solid #aaa;
    text-align:left;
    line-height:1.2;
    color:#888
}
.pricing-table strong {
    color:#000
}
.pricing-table-sign-up {
    margin-top:1em;
    padding-bottom:1em
}
.pricing-table-sign-up a {
    display:inline-block;
    background:#404040;
    padding:.5em 1em;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase
}
.pricing-table-sign-up a:hover {
    text-decoration:none;
    background:#222
}
.pricing-table-highlighted {
    margin-top:0
}
.pricing-table-highlighted .pricing-table-header {
    background:#3498db
}
.pricing-table-highlighted .pricing-table-sign-up a {
    background:#3498db
}
.pricing-table-highlighted .pricing-table-sign-up a:hover {
    background:#2980b9
}
.pricing-table-highlighted .pricing-table-text .fa {
    border-color:#2980b9;
    color:#2980b9
}
@media(max-width:64em) {
    .pricing-table {
        display:block;
        float:none;
        width:90%;
        margin:1em auto
    }
}
